@use "partials/_global.scss" as *;

html{
  scroll-behavior: smooth;
}

body{
  font-family: Verdana, sans-serif ;
  margin: 0;
  background-color: #FFFFFF;
}

a{
  text-decoration: none;
  color: initial;
}
.page-wrap{
  max-width: 80rem;
  min-width: 40rem;
  margin: 0 auto;
}

.main-content{
  padding-top: 3.5rem;

}
// This is for the header nav-bar
.nav-bar{
  // May need to change width to be responsive
  padding: 1rem 2.5%;
  top: 0;
  width: 80rem;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: $background;

  &__logocontainer{
    color: $logo-wordmark-color;
    font-size: $logo-size;
    font-weight: $logo-weight;
  }

  &__pagescontainer{
    display:flex;
    justify-content: flex-end;
    &__pages{
      margin-left: 1rem;
      &--currentpage{
          text-decoration: underline solid $active-page-underline;
          text-underline-offset: 0.5rem;
          text-decoration-thickness: 0.2rem;
        }
      }
  }
}
.footer-bar{
  background-color: $background-footer;
  
  &__container{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__container-block{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: $footer-padding;
    &--openinghours{
      max-width: 45%;
      padding: $footer-padding;
    }
  }

  &__footer-title{
    font-size: 1.5rem;
    font-weight: $text-footer-titleweight;
    color: $text-footer-titlestext;
  }

  &__footer-subtitle{
    font-size: $text-footer-subtitlesize;
    color: $text-footer-subtitle;
    padding: $text-footer-subtitlepadding;
  }

  &__footer-info{
    color: $text-footer-infotext;
    padding-right: 0.5em;
  }
  
  &__container-schedulecontainer {
    display: flex;
  }

  &__container-icon {
    padding-top: 3rem;
    display: flex;

    &__imgholder{
      margin-right: 15%;
      @include flex-center;
    }

    &__img{
      height: 2rem;
    }
  }
}
// This is for the footer-bar