$background: #FFFFFF;
$logo-wordmark-color: #335576;
$active-page-underline: #DB7A4E;
// footer
$background-footer: #FEFAF5;
$text-footer-titlestext: #335576;
$text-footer-subtitle: #DB7A4E;
$text-footer-infotext: #335576;
// Hero section
$background-color-hero: #FEFAF5;
$text-slogan: #335576;
$get-started: #DB7A4E;
// Homepage
$text-rec-color: #335576;
// Destination page
$background-activities: #FEFAF5;
$text-dest-title-color: #ffffff;