// logo
$logo-size: 1.35rem;
$logo-weight: 900;
// Hero
$hero-heading-size: 3rem;
$hero-heading-weight: 600;
// Recommendations
$text-rec-heading: 1.5rem;
$text-heading-weight: 900;
// footer
$text-footer-titlesize: 1.3rem;
$text-footer-titleweight: 600;
$footer-padding: 4rem 0.5rem 4rem 0.5rem;
$text-footer-subtitlesize: 1rem;
$text-footer-subtitlepadding: 1.5rem 0.5rem 1rem 0rem;
//destinations
$text-dest-title-size: 3rem;
$text-dest-title-weight: 600;